.school-form {
  margin: 20px auto;
  background-color: #e9e8e7;
  padding: 20px;
  font-family: "Tiro Bangla", serif;
}
.school-info {
  text-align: center;
}
.container {
  padding: 45px;
  border-image-source: url("out.png");
  border-image-repeat: round;
  border-image-slice: 150;
  border-image-width: 30px;
}
.content {
  line-height: 2.2;
  text-align: justify;
  color: #173282;
}
.content span {
  color: #000;
}
.center-container {
  display: flex;
  justify-content: center;
}
#school-name {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 5px;
}

.school-info {
  margin-bottom: 10px;
}

.container input {
  width: 100%;
  padding: 0px;
  margin: 0;
  transform: translateY(1px);
  border: none;
  outline: none;
  background: none;
  text-align: center !important;
  font-size: 16px;
}

.container input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.school-info h5 {
  margin-top: -8px;
}
.appre {
  font-size: 24px;
  font-weight: bold;
  background: #0e2545;
  color: #fff;
  padding: 10px 18px 10px 18px;
  border-radius: 40px;
}

.date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}

.description {
  margin-bottom: 20px;
}
.description p {
  font-size: 14px;
  line-height: 2.5;
}

.footer {
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
}

.footer p {
  margin-top: -13px;
}

.footer h6 {
  margin-top: -15px;
}
/*first section*/
.content span.certified {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 74%;
  position: relative;
}
.content span.certified.testimonials{
  width: 73% !important;
}
.content span.certified::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
.tarik-no span.date {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 120px;
  position: relative;
}
.kromik-num span.kromik_number {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 120px;
  position: relative;
}
.tarik-no span.date::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
.kromik-num span.kromik_number::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.father {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 42%;
  position: relative;
}
.content span.father::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.mother {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 43%;
  position: relative;
}
.content span.mother::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.villag {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 20%;
  position: relative;
}
.content span.villag::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}

/*first section*/
.content span.post {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 20%;
  position: relative;
}
.content span.post::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.upazila {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 20%;
  position: relative;
}
.content span.upazila::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.zilla {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 20%;
  position: relative;
}
.content span.zilla::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.pass-date {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 18%;
  position: relative;
}
.content span.pass-date::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.division {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 20%;
  position: relative;
}
.content span.division::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
/*first section*/
.content span.roll {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 18%;
  position: relative;
}
.content span.roll::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
.content span.birth {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 18%;
  position: relative;
}
.content span.birth::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #000;
}
